@font-face {
  src: url("../fontawesome/webfonts/fa-solid-900.ttf");
  font-family: FontAwesome; }
* {
  font-family: 'Segoe UI', 'Helvetica', 'Roboto', Arial, sans-serif; }

.logoHeader {
  height: 70px; }

.logoHeader2 {
  height: 50px; }

.fondoHeader {
  background-color: #F6F6F6; }

.fondoFull {
  background-image: url("../img/portada.jpg");
  background-size: cover;
  height: 350px; }

@media (max-width: 768px) {
  .container-form-home {
    width: 100%; } }
.container-form-home {
  width: 85%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff; }
  .container-form-home form {
    padding: 0;
    height: 312px;
    box-shadow: -3px -4px 3px #BDBDBD inset; }
    .container-form-home form .form-header {
      padding: 12px 24px;
      margin-bottom: 6px;
      background: #0b8a44;
      background: -moz-linear-gradient(left, #0b8a44 0%, #08ce64 100%);
      background: -webkit-linear-gradient(left, #0b8a44 0%, #08ce64 100%);
      background: -o-linear-gradient(left, #0b8a44 0%, #08ce64 100%);
      background: -ms-linear-gradient(left, #0b8a44 0%, #08ce64 100%);
      background: linear-gradient(to right, #0b8a44 0%, #08ce64 100%); }
      .container-form-home form .form-header p {
        margin: 0;
        color: #ffffff;
        font-weight: 400;
        text-align: left; }
    .container-form-home form .form-container {
      padding: 12px 24px 16px; }
      .container-form-home form .form-container div.form-footer div.rta_fail_login .div_rta {
        height: 46px; }
        .container-form-home form .form-container div.form-footer div.rta_fail_login .div_rta p {
          color: #ff0000;
          height: 46px;
          line-height: 46px; }
      .container-form-home form .form-container div.form-footer div.rta_fail_login .d-flex.justify-content-around a {
        color: #909090;
        font-size: .8em; }
    .container-form-home form button {
      background-color: #00CD5E;
      border: none;
      color: #ffffff;
      width: 100%; }
      .container-form-home form button:hover {
        background-color: #006B33;
        color: white; }
      .container-form-home form button:active, .container-form-home form button:focus {
        background-color: #006B33 !important;
        color: white; }
    .container-form-home form .form-group {
      margin-bottom: 1.4em;
      margin-top: .8em; }
      .container-form-home form .form-group label {
        color: #FFA500;
        font-weight: 400; }
      .container-form-home form .form-group input.form-control {
        background-color: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #006B33;
        padding: 0px;
        font-size: .9em;
        color: grey; }

.alto140px {
  height: 140px; }

.naranjaFecha {
  color: #FFA500; }

.sombraTexto {
  text-shadow: #2f2f2f 2px 2px 2px; }

.fondoNaranjaFecha {
  background-color: #FFA500; }

.porcentaje60 {
  width: 70%; }

.fontSize {
  font-size: 1.3em; }

.vinietasCheck {
  list-style-image: url("../img/icons/checkIcon20px.png") !important; }

.alto70 {
  height: 70px; }

.fondoFooter {
  background-color: #006B33; }

.fontSize14 {
  font-size: 14px; }

.basefooter {
  background-color: #003D1C;
  height: 40px; }

.shadow_bottom {
  box-shadow: 0 2px 2px #ebebeb; }

.pfgreen {
  color: #006B33; }

.fondoHeader2 {
  background-color: #006B33; }

.fondoFutbol {
  background-image: url("../img/patterns/futbolpattern.jpg"); }

.fondoBlanco {
  background-color: #ffffff; }

.overflowhidden {
  overflow: hidden !important; }

.border-verdepf {
  border: 1px solid #006B33; }

.hover-camera {
  position: relative;
  transition: background-color 4s ease-in-out; }

.hover-camera:hover::before,
.hover-camera:hover::after {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 110%;
  cursor: pointer;
  line-height: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.hover-camera:hover::before {
  content: "\f030";
  font-size: 3em;
  font-family: "FontAwesome";
  top: -10%;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.4); }

.hover-camera:hover::after {
  font-family: "Arial", sans-serif;
  content: 'Cambiar Foto';
  top: 10%;
  color: rgba(0, 0, 0, 0.5); }

.clase2 {
  color: #006B33; }

.nombreUser {
  color: #006B33; }

.editar_user::after {
  position: absolute;
  content: '\f044';
  font-family: "FontAwesome";
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  right: 20px;
  top: 10px;
  cursor: pointer;
  color: #bbbbbb; }

.editar_user:hover::after {
  color: #FFCD5E; }

.h-16rem {
  height: 16rem; }

.copa, .escudo, .buscar {
  height: 10rem;
  border-radius: 10px; }

.copa::before, .escudo::before, .buscar::before {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  font-family: "FontAwesome";
  color: rgba(244, 183, 70, 0.8);
  font-size: 7rem; }

.accion:hover .copa::before, .accion:hover .escudo::before, .accion:hover .buscar::before {
  color: #f4b746; }

a.accion, div.accion {
  text-decoration: none;
  color: red; }
  a.accion:hover, div.accion:hover {
    color: #006B33;
    cursor: pointer;
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.2) !important;
    transition: all .1s ease-in-out; }
    a.accion:hover h3.h4, div.accion:hover h3.h4 {
      color: #18C25D;
      text-decoration: underline;
      transition: all .1s ease-in-out; }
  a.accion h3.h4, div.accion h3.h4 {
    color: #006B33;
    text-decoration: none; }
  a.accion div:hover, div.accion div:hover {
    text-decoration: none; }

.copa::before {
  content: '\f091'; }

.escudo::before {
  content: '\f3ed'; }

.buscar::before {
  content: '\f002'; }

.awesome {
  color: #000000; }

.classNaranja {
  color: #eeee55; }

.colorGris1 {
  color: #BDBDBD; }

.colorGris2 {
  color: #909090; }

.fontSize1-6rem {
  font-size: 1.6rem; }

.fontSize1-5rem {
  font-size: 1.5rem; }

.fontSize1-4rem {
  font-size: 1.4rem; }

.fontSize1-3rem {
  font-size: 1.3rem; }

.inputNoStyle {
  background: none;
  border: none; }

.minWidth100 {
  min-width: 100%; }

button.btn.btn-outline-warning:hover {
  color: #1c6d11; }

#eliminar_torneo.btn.btn-link.naranjaFecha {
  padding: 0;
  border: none; }

#modal_eliminar_torneo input#InputSiEliminar {
  width: 50%; }

.hoverVerde:hover {
  color: #18C25D; }

.verde3 {
  color: #18C25D; }

.table_container {
  border: 1px solid #BDBDBD;
  width: 530px;
  margin: 2em 0 1.4em;
  border-radius: 5px; }
  .table_container .header_table_jornada {
    width: 100%;
    padding: 10px 15px 3px;
    background-color: #006B33;
    border-radius: 4px 4px 0 0; }
    .table_container .header_table_jornada h5 {
      font-size: .95rem;
      font-weight: 600;
      color: #ffffff; }
      .table_container .header_table_jornada h5 span {
        font-weight: normal;
        padding-left: .5rem;
        font-size: .9rem; }
  .table_container .jornada_table {
    width: 100%; }
    .table_container .jornada_table td.equipos {
      line-height: 2.5;
      font-size: .9rem;
      width: 45%;
      padding: 0 .5em;
      color: #666666;
      overflow: hidden; }
    .table_container .jornada_table td.versus {
      background-color: #00CD5E;
      color: #ffffff;
      font-weight: 500;
      padding: 0 .8em;
      font-style: italic;
      width: 10%;
      text-align: center; }
    .table_container .jornada_table tr {
      border-bottom: 1px solid #BDBDBD; }
      .table_container .jornada_table tr:last-child {
        border-bottom: none; }

.table_container2 {
  border: 1px solid #BDBDBD;
  width: 80%;
  margin: 1.2em 0 1.4em;
  border-radius: 5px; }
  .table_container2 .jornada_table {
    width: 100%; }
    .table_container2 .jornada_table td {
      line-height: 2.5;
      font-size: .9rem;
      width: 45%; }
      .table_container2 .jornada_table td a {
        padding: 0 2em;
        height: 100%;
        width: 100%;
        display: block;
        text-decoration: none;
        color: #006B33;
        font-weight: 600; }
        .table_container2 .jornada_table td a span {
          padding-left: 10px;
          font-weight: normal;
          color: #666666; }
        .table_container2 .jornada_table td a:hover {
          background-color: #eeeeee;
          transition: background-color .1s ease-in; }
    .table_container2 .jornada_table tr {
      border-bottom: 1px solid #BDBDBD; }
      .table_container2 .jornada_table tr:nth-child(odd) td a {
        background-color: #F9F9F9; }
        .table_container2 .jornada_table tr:nth-child(odd) td a:hover {
          background: #eeeeee; }
      .table_container2 .jornada_table tr:last-child {
        border-bottom: none; }

.fixture-completo .table_container {
  border: 1px solid #BDBDBD;
  width: 95%;
  margin: 2em 0 1.4em;
  border-radius: 5px; }
  .fixture-completo .table_container .jornada_table tr {
    height: 44px;
    max-height: 44px; }
  .fixture-completo .table_container .jornada_table td.versus {
    width: 14%;
    padding: 0 .1em;
    font-size: .9em; }
  .fixture-completo .table_container .jornada_table td.equipos {
    width: 43%;
    max-width: 43%;
    height: 44px;
    line-height: 44px;
    max-height: 44px; }
    .fixture-completo .table_container .jornada_table td.equipos .nombre_equipo {
      height: 44px;
      max-height: 44px;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden; }

.floating-label-form-group {
  position: relative; }
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important; }
  .floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: absolute;
    z-index: 99;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0; }

.floating-label-form-group-with-value label {
  top: -15px;
  opacity: 1; }

.floating-label-form-group-with-focus label {
  color: grey; }

form .row:first-child .floating-label-form-group {
  border-top: 1px solid grey; }

.logoHeader3 {
  height: 40px; }

nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav .nav-item.dropdown .dropdown-menu {
  top: 96%;
  color: #006B33; }
  nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav .nav-item.dropdown .dropdown-menu.end-session {
    min-width: 9rem; }
  nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
    padding: 0; }
    nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:active {
      background-color: #BDBDBD !important; }
    nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.no-options {
      padding: .25rem 1.5rem;
      color: #909090; }
    nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item a {
      color: #006B33;
      width: 100%;
      height: 100%;
      padding: .25rem 1.5rem;
      display: block; }
      nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item a:active {
        background-color: #BDBDBD !important; }
nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav #navbarDropdownMisTorneos:after,
nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav #navbarDropdownMisEquipos:after {
  display: none; }
nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav.userdropdown li a img {
  width: 38px;
  height: 38px;
  margin-right: 10px; }
nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 button.navbar-toggler {
  padding: 4px 6px;
  border-color: #18C25D; }
  nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 button.navbar-toggler .hamburguer i {
    cursor: pointer; }
    nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 button.navbar-toggler .hamburguer i.fa-bars:before {
      color: #FFCD5E; }

@media (max-width: 991px) {
  nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav.userdropdown {
    margin-right: auto !important;
    justify-content: flex-start; }
    nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav.userdropdown img {
      display: none; }
    nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav.userdropdown a.nav-link {
      position: relative;
      display: inline-block; }
      nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav.userdropdown a.nav-link.dropdown-toggle::after {
        position: absolute;
        top: 50%;
        right: -20px;
        display: block; } }
@media (min-width: 992px) {
  nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 {
    height: 60px;
    padding-top: 2px;
    padding-bottom: 2px; }
    nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 div.collapse.navbar-collapse ul li.nav-item #navbarDropdownNotification {
      height: 60px;
      line-height: 60px;
      display: flex;
      align-items: center;
      padding-left: 8px;
      width: 40px; }
      nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 div.collapse.navbar-collapse ul li.nav-item #navbarDropdownNotification span {
        display: none; }
      nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 div.collapse.navbar-collapse ul li.nav-item #navbarDropdownNotification:before {
        padding-left: 8px; }
      nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 div.collapse.navbar-collapse ul li.nav-item #navbarDropdownNotification + .dropdown-menu {
        left: -107px;
        text-align: center; }
    nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 div.collapse.navbar-collapse ul li.nav-item a.nav-link {
      position: relative;
      height: 60px;
      line-height: 60px;
      padding-top: 0;
      padding-bottom: 0;
      display: flex; }
      nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 div.collapse.navbar-collapse ul li.nav-item a.nav-link.dropdown-toggle::after {
        position: absolute;
        top: 50%;
        right: -5%; }
    nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav .nav-item.dropdown .dropdown-menu {
      border-radius: 0 0 .25rem .25rem; }
    nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav.userdropdown {
      margin-left: auto; }
      nav.navbar.navbar-expand-lg.navbar-white.navbar-dark.fondoHeader2 .navbar-nav.userdropdown a.nav-link {
        margin-right: 20px; } }
section.portada {
  position: relative;
  height: 220px;
  background-repeat: no-repeat; }
  section.portada div.escudo_y_nombre {
    position: absolute;
    bottom: -10%; }
    section.portada div.escudo_y_nombre img {
      display: inline-block;
      height: 180px;
      width: 180px; }

.main_miequipo #cambiar_fotoportada {
  float: right;
  margin: 10px 20px 0 0;
  text-align: center; }
  .main_miequipo #cambiar_fotoportada a {
    font-size: .9rem;
    text-decoration: none; }
  .main_miequipo #cambiar_fotoportada i.fa-camera {
    font-size: 1rem;
    margin-right: 2px; }
.main_miequipo .tabs_miequipo #nav-tab a.nav-item.nav-link.active {
  font-weight: 500;
  color: #006B33; }
.main_miequipo .tab-content #nav-proximafecha > div.pf_miequipo {
  border-bottom: 1px solid #DEE2E6;
  padding-bottom: 3.6em;
  align-items: baseline;
  justify-content: center; }
  .main_miequipo .tab-content #nav-proximafecha > div.pf_miequipo .nombreEquipo {
    width: 33%;
    font-size: 1.3rem; }
  .main_miequipo .tab-content #nav-proximafecha > div.pf_miequipo .vs {
    width: 8%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #FFA500;
    font-size: 1.6em;
    text-shadow: #006B33 1px 1px; }
  .main_miequipo .tab-content #nav-proximafecha > div.pf_miequipo .escudoequipo {
    width: 13%;
    text-align: center; }
    .main_miequipo .tab-content #nav-proximafecha > div.pf_miequipo .escudoequipo img {
      width: 100%;
      display: inline-block;
      border: 1px solid #006B33; }
.main_miequipo .tab-content #nav-proximafecha .datospf_miequipo {
  margin-top: .9em;
  width: 100%; }
  .main_miequipo .tab-content #nav-proximafecha .datospf_miequipo li {
    width: 33.3333%;
    text-align: center;
    font-weight: 500; }
    .main_miequipo .tab-content #nav-proximafecha .datospf_miequipo li span {
      font-weight: normal; }
.main_miequipo .tab-content #nav-posiciones .posiciones_table {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #DEE2E6;
  width: 90%; }
  .main_miequipo .tab-content #nav-posiciones .posiciones_table table {
    width: 100%; }
    .main_miequipo .tab-content #nav-posiciones .posiciones_table table tr {
      color: #006B33;
      border-bottom: 1px solid #DEE2E6; }
      .main_miequipo .tab-content #nav-posiciones .posiciones_table table tr:nth-child(even) {
        background-color: #F9F9F9; }
      .main_miequipo .tab-content #nav-posiciones .posiciones_table table tr th {
        font-weight: 500; }
        .main_miequipo .tab-content #nav-posiciones .posiciones_table table tr th:first-child {
          text-align: left; }
      .main_miequipo .tab-content #nav-posiciones .posiciones_table table tr td,
      .main_miequipo .tab-content #nav-posiciones .posiciones_table table tr th {
        width: 7%;
        padding: 8px;
        text-align: center; }
      .main_miequipo .tab-content #nav-posiciones .posiciones_table table tr td.nombre_tablaposiciones {
        font-weight: 500;
        color: #006B33;
        width: 44%;
        text-align: left; }

.lista_jugadores {
  width: 70%; }
  .lista_jugadores li:nth-child(odd) {
    background-color: #F9F9F9; }
  .lista_jugadores li img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 20px; }
  .lista_jugadores li a {
    text-decoration: none; }
    .lista_jugadores li a .nombre_apellido_jugador {
      font-weight: 500; }

.aside_miequipo h3.text-white.rounded,
.aside_miequipo h4.text-white.rounded,
.aside_miequipo h5.text-white.rounded {
  background-color: #00CD5E;
  font-size: 1rem; }
.aside_miequipo .table_resultado_container {
  border-radius: 5px;
  border: 1px solid #DEE2E6;
  margin-bottom: 10px; }
  .aside_miequipo .table_resultado_container .resultado-encuentro {
    font-size: .9rem;
    margin-bottom: 0; }
    .aside_miequipo .table_resultado_container .resultado-encuentro tr td {
      padding: 8px;
      border: none; }
      .aside_miequipo .table_resultado_container .resultado-encuentro tr td.marcador {
        width: 40px;
        padding-left: 3px;
        padding-right: 3px;
        background-color: #00CD5E;
        color: #ffffff;
        overflow: hidden; }
.aside_miequipo .table_container2 {
  width: 100%; }

/*
.logoHeader3{
    height: 40px;
}

nav {
  &.navbar {
    &.navbar-expand-lg {
      &.navbar-white {
        &.navbar-dark {
          &.fondoHeader2 {
            .navbar-nav {
              &.userdropdown {
                li{
                  a{
                    img{
                      width: 38px;
                      height: 38px;
                      margin-right: 10px;
                    }
                  }
                }
              }
            }

            button{
              &.navbar-toggler{
                padding:4px 6px;
                border-color: $col_verde1;
                .hamburguer{

                  i{
                    cursor: pointer;
                    &.fa-bars:before{
                      color: $col_naranja1;

                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 991px) {
  nav {
    &.navbar {
      &.navbar-expand-lg {
        &.navbar-white {
          &.navbar-dark {
            &.fondoHeader2 {

              .navbar-nav{
                &.userdropdown{

                  margin-right: auto !important;
                  justify-content: flex-start;
                  img{
                    display: none;
                  }

                  a {
                    &.nav-link {
                      position: relative;
                      display: inline-block;

                      &.dropdown-toggle::after {
                        position: absolute;
                        top: 50%;
                        right: -20px;
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  nav {
    &.navbar {
      &.navbar-expand-lg {
        &.navbar-white {
          &.navbar-dark {
            &.fondoHeader2 {

              height: 60px;
              padding-top: 2px;
              padding-bottom: 2px;

              div.collapse.navbar-collapse {
                ul {
                  li.nav-item {
                    a {
                      &.nav-link {
                        position: relative;
                        height: 60px;
                        line-height: 60px;
                        padding-top: 0;
                        padding-bottom: 0;
                        display: flex;

                        &.dropdown-toggle::after {
                          position: absolute;
                          top: 50%;
                          right: -5%;
                        }
                      }
                    }
                  }
                }
              }

              .navbar-nav{
                &.userdropdown{
                    margin-left: auto;

                    a{
                      &.nav-link{
                        margin-right: 20px;
                      }
                    }
                }
              }
            }
          }
        }
      }
    }
  }
}

*/
.notificaciones .fecha {
  color: #18C25D;
  font-style: italic;
  font-size: .8rem;
  margin-right: .6rem; }
.notificaciones i.fas.fa-bell:before {
  font-size: 1.5rem;
  color: #ebebeb;
  padding: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #18C25D;
  margin-right: .4rem;
  display: block;
  text-align: center; }

.preguntas-frecuentes .fecha {
  color: #18C25D;
  font-style: italic;
  font-size: .8rem;
  margin-right: .6rem; }
.preguntas-frecuentes .card .card-header {
  background-color: transparent;
  padding: 0; }
  .preguntas-frecuentes .card .card-header .faq .faq-link {
    position: relative;
    padding: 12px 20px;
    height: 65px;
    line-height: 39px;
    display: block;
    text-align: left;
    font-size: 20px;
    color: #006B33; }
    .preguntas-frecuentes .card .card-header .faq .faq-link:hover {
      color: #18C25D;
      transition: color .2s ease-in-out; }
    .preguntas-frecuentes .card .card-header .faq .faq-link:after {
      font-family: 'FontAwesome';
      content: '\f105';
      display: block;
      width: 25px;
      height: 40%;
      color: #909090;
      position: absolute;
      right: 15px;
      top: 30%;
      font-size: 25px;
      line-height: 25px;
      text-align: center;
      transition: all .3s ease-in-out; }
    .preguntas-frecuentes .card .card-header .faq .faq-link.arrowdown:after {
      transform: rotate(90deg);
      transition: all .3s ease-in-out;
      color: #18C25D; }
  .preguntas-frecuentes .card .card-header i.fas.fa-question:before {
    font-size: 1.5rem;
    color: #ebebeb;
    padding: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #18C25D;
    margin-right: .4rem;
    display: block;
    text-align: center; }
.preguntas-frecuentes i.fas.fa-question:before {
  font-size: 1.5rem;
  color: #ebebeb;
  padding: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #18C25D;
  margin-right: .4rem;
  display: block;
  text-align: center; }

@media (max-width: 991px) {
  .editar-mis-datos form.formEditarDatos .user-photo-block {
    display: flex;
    flex-flow: column; }
    .editar-mis-datos form.formEditarDatos .user-photo-block .user-block {
      width: 100%; }
      .editar-mis-datos form.formEditarDatos .user-photo-block .user-block h2 {
        font-size: 1.8rem; }
    .editar-mis-datos form.formEditarDatos .user-photo-block .photo-block {
      width: 100%;
      padding: .5rem; }
      .editar-mis-datos form.formEditarDatos .user-photo-block .photo-block .m-auto.text-center.rounded-circle {
        width: 220px;
        height: 220px; }
        .editar-mis-datos form.formEditarDatos .user-photo-block .photo-block .m-auto.text-center.rounded-circle img {
          width: 100%;
          height: 100%;
          display: inline-block; } }
@media (min-width: 992px) {
  .editar-mis-datos form.formEditarDatos .user-photo-block {
    display: flex;
    flex-flow: row; }
    .editar-mis-datos form.formEditarDatos .user-photo-block .user-block h2 {
      font-size: 1.5rem; }
    .editar-mis-datos form.formEditarDatos .user-photo-block .photo-block {
      width: 220px;
      padding: 3rem 1rem 0; }
      .editar-mis-datos form.formEditarDatos .user-photo-block .photo-block .m-auto.text-center.rounded-circle {
        width: 170px;
        height: 170px; }
        .editar-mis-datos form.formEditarDatos .user-photo-block .photo-block .m-auto.text-center.rounded-circle img {
          width: 100%;
          height: 100%;
          display: inline-block; } }
@media (min-width: 1200px) {
  .editar-mis-datos form.formEditarDatos .user-photo-block .user-block h2 {
    font-size: 2rem; } }

/*# sourceMappingURL=estilo.css.map */
