@font-face {
  src: url("../fontawesome/webfonts/fa-solid-900.ttf");
  font-family: FontAwesome; }
* {
  font-family: 'Segoe UI', 'Helvetica', 'Roboto', Arial, sans-serif; }

.logoHeader {
  height: 70px; }

.logoHeader2 {
  height: 50px; }

.fondoHeader {
  background-color: #F6F6F6; }

.fondoFull {
  background-image: url("../img/portada.jpg");
  background-size: cover;
  height: 350px; }

.fondoFormHome {
  background-color: rgba(0, 156, 88, 0.9); }

.alto140px {
  height: 140px; }

.naranjaFecha {
  color: #FFA500; }

.sombraTexto {
  text-shadow: #2f2f2f 2px 2px 2px; }

.fondoNaranjaFecha {
  background-color: #FFA500; }

.porcentaje60 {
  width: 70%; }

.fontSize {
  font-size: 1.3em; }

.vinietasCheck {
  list-style-image: url("../img/icons/checkIcon20px.png") !important; }

.alto70 {
  height: 70px; }

.fondoFooter {
  background-color: #006B33; }

.fontSize14 {
  font-size: 14px; }

.basefooter {
  background-color: #003D1C;
  height: 40px; }

.shadow_bottom {
  box-shadow: 0 2px 2px #ebebeb; }

.pfgreen {
  color: #006B33; }

.fondoHeader2 {
  background-color: #006B33; }

.fondoFutbol {
  background-image: url("../img/patterns/futbolpattern.jpg"); }

.fondoBlanco {
  background-color: #ffffff; }

.overflowhidden {
  overflow: hidden !important; }

.border-verdepf {
  border: 1px solid #006B33; }

.hover-camera {
  position: relative;
  transition: background-color 4s ease-in-out; }

.hover-camera:hover::before,
.hover-camera:hover::after {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 110%;
  cursor: pointer;
  line-height: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.hover-camera:hover::before {
  content: "\f030";
  font-size: 3em;
  font-family: "FontAwesome";
  top: -10%;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.4); }

.hover-camera:hover::after {
  font-family: "Arial", sans-serif;
  content: 'Cambiar Foto';
  top: 10%;
  color: rgba(0, 0, 0, 0.5); }

.clase2 {
  color: #006B33; }

.nombreUser {
  color: #006B33; }

.editar_user::after {
  position: absolute;
  content: '\f044';
  font-family: "FontAwesome";
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  right: 20px;
  top: 10px;
  cursor: pointer;
  color: #bbbbbb; }

.editar_user:hover::after {
  color: #FFCD5E; }

.h-16rem {
  height: 16rem; }

.copa, .escudo, .buscar {
  height: 10rem;
  border-radius: 10px; }

.copa::before, .escudo::before, .buscar::before {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  font-family: "FontAwesome";
  color: rgba(244, 183, 70, 0.8);
  font-size: 7rem; }

.accion:hover .copa::before, .accion:hover .escudo::before, .accion:hover .buscar::before {
  color: #f4b746; }

a.accion, div.accion {
  text-decoration: none;
  color: red; }
  a.accion:hover, div.accion:hover {
    color: #006B33;
    cursor: pointer;
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.2) !important;
    transition: all .1s ease-in-out; }
    a.accion:hover h3.h4, div.accion:hover h3.h4 {
      color: #18C25D;
      text-decoration: underline;
      transition: all .1s ease-in-out; }
  a.accion h3.h4, div.accion h3.h4 {
    color: #006B33;
    text-decoration: none; }
  a.accion div:hover, div.accion div:hover {
    text-decoration: none; }

.copa::before {
  content: '\f091'; }

.escudo::before {
  content: '\f3ed'; }

.buscar::before {
  content: '\f002'; }

.awesome {
  color: #000000; }

.classNaranja {
  color: #eeee55; }

.colorGris1 {
  color: #BDBDBD; }

.colorGris2 {
  color: #909090; }

.fontSize1-6rem {
  font-size: 1.6rem; }

.fontSize1-5rem {
  font-size: 1.5rem; }

.fontSize1-4rem {
  font-size: 1.4rem; }

.fontSize1-3rem {
  font-size: 1.3rem; }

.inputNoStyle {
  background: none;
  border: none; }

.minWidth100 {
  min-width: 100%; }

button.btn.btn-outline-warning:hover {
  color: #1c6d11; }

#eliminar_torneo.btn.btn-link.naranjaFecha {
  padding: 0;
  border: none; }

#modal_eliminar_torneo input#InputSiEliminar {
  width: 50%; }

.hoverVerde:hover {
  color: #18C25D; }

/*# sourceMappingURL=estilo.css.map */
