/*
@mixin llave-fixture($widbor, $colbor, $bordernone, $width, $height, $top) {
  content:'';
  border: $widbor solid $colbor;
  $bordernone: none;
  background-color: transparent;
  width: $width;
  display: block;
  height: $height;
  position: absolute;
  top: $top;
  z-index: -999;
}
*/
.mensajes h2 i.fas.fa-comments:before {
  font-size: 1.4rem;
  color: #ebebeb;
  padding: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #18C25D;
  margin-right: .4rem;
  display: block;
  text-align: center; }
.mensajes .lista-contacto-mensaje {
  min-height: 250px; }
  .mensajes .lista-contacto-mensaje li:nth-child(odd) {
    background-color: #F9F9F9; }
  .mensajes .lista-contacto-mensaje li img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 20px; }
  .mensajes .lista-contacto-mensaje li a {
    text-decoration: none; }
    .mensajes .lista-contacto-mensaje li a .nombre_apellido_jugador {
      font-weight: 500; }
    .mensajes .lista-contacto-mensaje li a.verchat {
      color: #00CD5E;
      margin-left: 30px; }
      .mensajes .lista-contacto-mensaje li a.verchat:hover {
        opacity: .8; }
  .mensajes .lista-contacto-mensaje li .aviso-mensajes-nuevos {
    color: #ff8c00;
    font-weight: 600;
    margin-left: 20px; }

.mensaje #conversacion .redondo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px; }
.mensaje #conversacion h2 {
  border-bottom: 1px solid #BDBDBD;
  -webkit-box-shadow: 0 4px 3px -3px #BDBDBD;
  -moz-box-shadow: 0 4px 3px -3px #BDBDBD;
  box-shadow: 0 4px 3px -3px #BDBDBD;
  padding-bottom: .8em;
  line-height: 2.2em; }
.mensaje #conversacion .dialogo {
  list-style: none;
  padding: 0;
  margin-top: 2em;
  min-height: 200px; }
  .mensaje #conversacion .dialogo .mensajeLiImpar,
  .mensaje #conversacion .dialogo .mensajeLiPar {
    margin: 15px 5px; }
  .mensaje #conversacion .dialogo .mensajeLiImpar span .unMensaje {
    background-color: #eeeeee;
    border-radius: 8px;
    display: inline-block;
    max-width: 75%;
    padding: 10px; }
  .mensaje #conversacion .dialogo .mensajeLiPar span {
    background-color: #eeeeee;
    border-radius: 8px;
    display: inline-block;
    max-width: 75%;
    padding: 10px; }
  .mensaje #conversacion .dialogo .mensajeLiPar {
    overflow: auto; }
    .mensaje #conversacion .dialogo .mensajeLiPar .mensajePar {
      float: right; }
  .mensaje #conversacion .dialogo .mensajeLiImpar {
    overflow: auto; }
    .mensaje #conversacion .dialogo .mensajeLiImpar .mensajeImpar {
      float: left; }
.mensaje #conversacion #formChat {
  margin: 1.5em 0;
  padding: 2em 0;
  border-top: 1px solid #BDBDBD;
  display: flex;
  align-items: flex-end; }
  .mensaje #conversacion #formChat #nuevoMensaje {
    resize: none;
    border-radius: 8px;
    border: 1px solid #909090;
    width: 100%;
    outline: none;
    padding: .5em .75em;
    height: 5em; }
  .mensaje #conversacion #formChat .LinkVerPosteos {
    height: 40px; }

/*# sourceMappingURL=mensajes.css.map */
