section.portada {
  position: relative;
  height: 220px; }
  section.portada div.escudo_y_nombre {
    position: absolute;
    bottom: -10%; }
    section.portada div.escudo_y_nombre img {
      display: inline-block;
      height: 180px;
      width: 180px; }

.main_miequipo #cambiar_fotoportada {
  float: right;
  margin: 10px 20px 0 0;
  text-align: center; }
  .main_miequipo #cambiar_fotoportada a {
    font-size: .9rem;
    text-decoration: none; }
  .main_miequipo #cambiar_fotoportada i.fa-camera {
    font-size: 1rem;
    margin-right: 2px; }
.main_miequipo .tabs_miequipo #nav-tab a.nav-item.nav-link.active {
  font-weight: 500;
  color: #006B33; }
.main_miequipo .tab-content #nav-proximafecha > div.pf_miequipo {
  border-bottom: 1px solid #DEE2E6;
  padding-bottom: 3.6em;
  align-items: baseline;
  justify-content: center; }
  .main_miequipo .tab-content #nav-proximafecha > div.pf_miequipo .nombreEquipo {
    width: 33%;
    font-size: 1.3rem; }
  .main_miequipo .tab-content #nav-proximafecha > div.pf_miequipo .vs {
    width: 8%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #FFA500;
    font-size: 1.6em;
    text-shadow: #006B33 1px 1px; }
  .main_miequipo .tab-content #nav-proximafecha > div.pf_miequipo .escudoequipo {
    width: 13%;
    text-align: center; }
    .main_miequipo .tab-content #nav-proximafecha > div.pf_miequipo .escudoequipo img {
      width: 100%;
      display: inline-block;
      border: 1px solid #006B33; }
.main_miequipo .tab-content #nav-proximafecha .datospf_miequipo {
  margin-top: .9em;
  width: 100%; }
  .main_miequipo .tab-content #nav-proximafecha .datospf_miequipo li {
    width: 33.3333%;
    text-align: center;
    font-weight: 500; }
    .main_miequipo .tab-content #nav-proximafecha .datospf_miequipo li span {
      font-weight: normal; }
.main_miequipo .tab-content #nav-posiciones .posiciones_table {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #DEE2E6;
  width: 90%; }
  .main_miequipo .tab-content #nav-posiciones .posiciones_table table {
    width: 100%; }
    .main_miequipo .tab-content #nav-posiciones .posiciones_table table tr {
      color: #006B33;
      border-bottom: 1px solid #DEE2E6; }
      .main_miequipo .tab-content #nav-posiciones .posiciones_table table tr:nth-child(even) {
        background-color: #F9F9F9; }
      .main_miequipo .tab-content #nav-posiciones .posiciones_table table tr th {
        font-weight: 500; }
        .main_miequipo .tab-content #nav-posiciones .posiciones_table table tr th:first-child {
          text-align: left; }
      .main_miequipo .tab-content #nav-posiciones .posiciones_table table tr td,
      .main_miequipo .tab-content #nav-posiciones .posiciones_table table tr th {
        width: 7%;
        padding: 8px;
        text-align: center; }
      .main_miequipo .tab-content #nav-posiciones .posiciones_table table tr td.nombre_tablaposiciones {
        font-weight: 500;
        color: #006B33;
        width: 44%;
        text-align: left; }

.lista_jugadores {
  width: 70%; }
  .lista_jugadores li:nth-child(odd) {
    background-color: #F9F9F9; }
  .lista_jugadores li img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 20px; }
  .lista_jugadores li a {
    text-decoration: none; }
    .lista_jugadores li a .nombre_apellido_jugador {
      font-weight: 500; }

.aside_miequipo h3.text-white.rounded,
.aside_miequipo h4.text-white.rounded,
.aside_miequipo h5.text-white.rounded {
  background-color: #00CD5E;
  font-size: 1rem; }
.aside_miequipo .table_resultado_container {
  border-radius: 5px;
  border: 1px solid #DEE2E6;
  margin-bottom: 10px; }
  .aside_miequipo .table_resultado_container .resultado-encuentro {
    font-size: .9rem;
    margin-bottom: 0; }
    .aside_miequipo .table_resultado_container .resultado-encuentro tr td {
      padding: 8px;
      border: none; }
      .aside_miequipo .table_resultado_container .resultado-encuentro tr td.marcador {
        width: 40px;
        padding-left: 3px;
        padding-right: 3px;
        background-color: #00CD5E;
        color: #ffffff;
        overflow: hidden; }
.aside_miequipo .table_container2 {
  width: 100%; }

/*
.logoHeader3{
    height: 40px;
}

nav {
  &.navbar {
    &.navbar-expand-lg {
      &.navbar-white {
        &.navbar-dark {
          &.fondoHeader2 {
            .navbar-nav {
              &.userdropdown {
                li{
                  a{
                    img{
                      width: 38px;
                      height: 38px;
                      margin-right: 10px;
                    }
                  }
                }
              }
            }

            button{
              &.navbar-toggler{
                padding:4px 6px;
                border-color: $col_verde1;
                .hamburguer{

                  i{
                    cursor: pointer;
                    &.fa-bars:before{
                      color: $col_naranja1;

                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 991px) {
  nav {
    &.navbar {
      &.navbar-expand-lg {
        &.navbar-white {
          &.navbar-dark {
            &.fondoHeader2 {

              .navbar-nav{
                &.userdropdown{

                  margin-right: auto !important;
                  justify-content: flex-start;
                  img{
                    display: none;
                  }

                  a {
                    &.nav-link {
                      position: relative;
                      display: inline-block;

                      &.dropdown-toggle::after {
                        position: absolute;
                        top: 50%;
                        right: -20px;
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  nav {
    &.navbar {
      &.navbar-expand-lg {
        &.navbar-white {
          &.navbar-dark {
            &.fondoHeader2 {

              height: 60px;
              padding-top: 2px;
              padding-bottom: 2px;

              div.collapse.navbar-collapse {
                ul {
                  li.nav-item {
                    a {
                      &.nav-link {
                        position: relative;
                        height: 60px;
                        line-height: 60px;
                        padding-top: 0;
                        padding-bottom: 0;
                        display: flex;

                        &.dropdown-toggle::after {
                          position: absolute;
                          top: 50%;
                          right: -5%;
                        }
                      }
                    }
                  }
                }
              }

              .navbar-nav{
                &.userdropdown{
                    margin-left: auto;

                    a{
                      &.nav-link{
                        margin-right: 20px;
                      }
                    }
                }
              }
            }
          }
        }
      }
    }
  }
}

*/

/*# sourceMappingURL=miequipo.css.map */
