$col_naranja1:#FFCD5E;
$bgcol_naranja:#FFA500;

$bgcol_verde:#006B33;
$bgcol_verde2:#003D1C;
$col_verde1:#18C25D;
$bgcol_verde3:#18C25D;
$bgcol_verde4:#1c6d11;
$bgcol_verde5:#00CD5E;

$col_gris1:#BDBDBD;
$col_gris2:#909090;
$col_gris3:#eeeeee;
$col_gris4:#666666;
$col_gris5:#F9F9F9;

$col_blanco:#ffffff;



