@import "colors.scss";
@import "fonts.scss";
@import "mixins.scss";

@font-face {
  src:url('../fontawesome/webfonts/fa-solid-900.ttf');
  font-family: FontAwesome;
}

*{
  font-family: 'Segoe UI', 'Helvetica', 'Roboto', Arial, sans-serif;
}

.logoHeader {
  height: 70px;
}

.logoHeader2 {
  height: 50px;
}

.fondoHeader {
  background-color:#F6F6F6;
}

.fondoFull {
  background-image: url('../img/portada.jpg');
  background-size: cover;
  height: 350px;
}

@media (max-width: 768px) {

  .container-form-home {

    width: 100%;

  }
}

.container-form-home{

  width: 85%;
  border-radius: 10px;
  overflow: hidden;
  background-color: $col_blanco;
  //border: 1px solid $bgcol_verde;
  .fondoFormHome {
      //background-color: rgba(0, 156, 88, 0.9);
   }
  form{

    padding: 0;
    height: 312px;
    box-shadow: -3px -4px 3px $col_gris1 inset;

    .form-header{
      padding:12px 24px;
      margin-bottom: 6px;
      //background-color: $bgcol_verde;
      background: rgba(11,138,68,1);
      background: -moz-linear-gradient(left, rgba(11,138,68,1) 0%, rgba(8,206,100,1) 100%);
      background: -webkit-linear-gradient(left, rgba(11,138,68,1) 0%, rgba(8,206,100,1) 100%);
      background: -o-linear-gradient(left, rgba(11,138,68,1) 0%, rgba(8,206,100,1) 100%);
      background: -ms-linear-gradient(left, rgba(11,138,68,1) 0%, rgba(8,206,100,1) 100%);
      background: linear-gradient(to right, rgba(11,138,68,1) 0%, rgba(8,206,100,1) 100%);
        p{
          margin: 0;
          color: $col_blanco;
          //color: $bgcol_verde;
          font-weight: 400;
          text-align: left;
        }
    }

    .form-container{
      padding: 12px 24px 16px;

      div.form-footer{

        div.rta_fail_login{

        .div_rta{
            height: 46px;
            p{
              color: #ff0000;
              //margin-top: 10px;
              height: 46px;
              line-height: 46px;
            }
        }

          .d-flex.justify-content-around{

            a{
              color: $col_gris2;
              font-size: .8em;
            }
          }
        }
      }
    }


    button{
      background-color: $bgcol_verde5;
      //border: 1px solid $bgcol_verde;
      border: none;
      color: $col_blanco;
      width: 100%;
      &:hover{
        background-color: $bgcol_verde;
        color: white;
      }

      &:active,
      &:focus{
        background-color: $bgcol_verde !important;
        color: white;
      }
    }

    .form-group{
      margin-bottom: 1.4em;
      margin-top: .8em;
      label{
        color: $bgcol_naranja;
        font-weight: 400;
      }
      input{
        &.form-control{
          background-color: transparent;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid $bgcol_verde;
          padding: 0px;
          font-size: .9em;
          color: grey

        }
      }
    }
  }
}
.alto140px {
  height: 140px;
}

.naranjaFecha {
  color:$bgcol_naranja;
}

.sombraTexto{
  text-shadow: #2f2f2f 2px 2px 2px;
}

.fondoNaranjaFecha {
  background-color:$bgcol_naranja;
}

.porcentaje60{
  width: 70%;
}

.fontSize{
  font-size: 1.3em;
}

.vinietasCheck {
  list-style-image: url('../img/icons/checkIcon20px.png') !important;
}

.alto70 {
  height: 70px;
}

.fondoFooter {
  background-color: $bgcol_verde;
}

.fontSize14{
  font-size: 14px;
}

.basefooter{
  background-color: $bgcol_verde2;
  height: 40px;
}

.shadow_bottom {
  box-shadow: 0 2px 2px #ebebeb;
}

.pfgreen {
  color:$bgcol_verde;
}

.fondoHeader2{
  background-color: $bgcol_verde;

}

.fondoFutbol{
  background-image: url('../img/patterns/futbolpattern.jpg');
}

.fondoBlanco{
  background-color: #ffffff;
}

.overflowhidden{
  overflow: hidden !important;
}

.border-verdepf {
  border:1px solid #006B33;
}

.hover-camera{
  position: relative;
  transition:background-color 4s ease-in-out;
}

.hover-camera:hover::before,
.hover-camera:hover::after{
  position:absolute;
  z-index: 99999;
  width: 100%;
  height: 110%;
  cursor: pointer;
  line-height: 100%;
  font-size: 1.5rem;

  @include flexcenter;

  text-align: center;
}

.hover-camera:hover::before{
  content:"\f030";
  font-size: 3em;
  font-family: "FontAwesome";
  top:-10%;
  color:rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.4);
}

.hover-camera:hover::after{
  font-family: "Arial", sans-serif;
  content:'Cambiar Foto';
  top:10%;
  color:rgba(0,0,0,0.5);

}

.clase2{
  color:$bgcol_verde;
}

.awesome{
  color:#000000;
}

.classNaranja{
  color:#eeee55;
}

.colorGris1{
  color: $col_gris1;
}


.colorGris2{
  color: $col_gris2;
}

.colorGris4{
  color: $col_gris4;
}

.fontSize6rem{
  font-size: 6rem;
}

.fontSize5rem{
  font-size: 5rem;
}

.fontSize1-6rem{
  font-size:$font-size-1-6rem;
}

.fontSize1-5rem{
  font-size:$font-size-1-5rem;
}

.fontSize1-4rem{
  font-size:$font-size-1-4rem;
}

.fontSize1-3rem{
  font-size:$font-size-1-3rem;
}

.inputNoStyle{
  background: none;
  border:none;
}

.minWidth100{
  min-width: 100%;
}

button.btn.btn-outline-warning:hover{
  color:$bgcol_verde4;
}

#eliminar_torneo{
  &.btn.btn-link.naranjaFecha{
    padding: 0;
    border: none;
  }
}

#modal_eliminar_torneo{
  input#InputSiEliminar{
    width: 50%;
  }
}

.hoverVerde{
  &:hover{
    color: $bgcol_verde3;
  }
}

.verde3{
  color:$bgcol_verde3;
}

.table_container{

  border:1px solid $col_gris1;
  width: 530px;
  margin: 2em 0 1.4em;
  border-radius: 5px;

  .header_table_jornada{
    width: 100%;
    padding: 10px 15px 3px;
    background-color: $bgcol_verde;
    border-radius: 4px 4px 0 0;

    h5{
      font-size: .95rem;
      font-weight: 600;
      color: $col_blanco;

      span{
        font-weight: normal;
        padding-left: .5rem;
        font-size: .9rem;
      }
    }
  }

  .jornada_table{

    width: 100%;

    td.equipos{
      line-height: 2.5;
      font-size: .9rem;
      width: 45%;
      padding: 0 .5em;
      color:$col_gris4;
      overflow: hidden;
    }

    td.versus{
      background-color: $bgcol_verde5;
      color: $col_blanco;
      font-weight: 500;
      padding: 0 .8em;
      font-style: italic;
      width: 10%;
      text-align: center;
    }

    tr{
      border-bottom: 1px solid $col_gris1;

      &:last-child{
        border-bottom: none;
      }
    }
  }
}

.table_container2{

  border:1px solid $col_gris1;
  width: 80%;
  margin: 1.2em 0 1.4em;
  border-radius: 5px;

  .jornada_table{

    width: 100%;

    td {
      line-height: 2.5;
      font-size: .9rem;
      width: 45%;

      a{
        padding: 0 2em;
        height: 100%;
        width: 100%;
        display: block;
        text-decoration: none;
        color: $bgcol_verde;
        font-weight: 600;

        span{
          padding-left: 10px;
          font-weight: normal;
          color: $col_gris4;
        }

        &:hover{
          background-color: $col_gris3;
          transition: background-color .1s ease-in;
        }
      }
    }

    tr{
      border-bottom: 1px solid $col_gris1;

      &:nth-child(odd){
        td{
          a{
              background-color: $col_gris5;
              &:hover{
                background: $col_gris3;
              }
          }
        }
      }

      &:last-child{
        border-bottom: none;
      }
    }
  }
}

.btn-volver-derecha {
  overflow: auto;
  margin: .5em 0;
  a,
  button {
    float: right;
  }

}

.enviar-mensaje {
  color: $bgcol_verde3;
  text-decoration: none !important;
  margin-left: 20px;

  &:hover {
    @include hover-txt($bgcol_verde3);
    opacity: .8;
  }

  &:before {
    content: '\f075';
    font-family: 'FontAwesome';
    margin-right: 5px;
    font-size: inherit;
    text-decoration: none;
  }
}


.font-light {
  font-weight: $font-light;
}

.font-regular {
  font-weight: $font-regular;
}

.font-regular-bold {
  font-weight: $font-regular-bold;
}


.font-bold {
  font-weight: $font-bold;
}

footer {
  margin-top: 3rem;
}


.tooltip-inner {
  background-color: #6c757d;
  color: $col_blanco;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #6c757d !important;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #6c757d !important;
}


.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #6c757d !important;
}


.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: #6c757d !important;
}