$bgcol_naranja:#FFA500;
$bgcol_verde:#006B33;
$bgcol_verde2:#003D1C;
$FA:'FontAwesome';

@mixin flexcenter{
  display:flex;
  justify-content: center;
  align-items: center;
}


@font-face {
  src:url('../fontawesome/webfonts/fa-solid-900.ttf');
  font-family: FontAwesome;
}

*{
  font-family: 'Segoe UI', 'Helvetica', 'Roboto', Arial, sans-serif;
}

.logoHeader {
  height: 70px;
}

.logoHeader2 {
  height: 50px;
}

.fondoHeader {
  background-color:#F6F6F6;
}

.fondoFull {
  background-image: url('../img/portada.jpg');
  background-size: cover;
  height: 350px;
}

.fondoFormHome {
  background-color: rgba(0, 156, 88, 0.9);
}

.alto140px {
  height: 140px;
}

.naranjaFecha {
  color:#FFA500;
}

.sombraTexto{
  text-shadow: #2f2f2f 2px 2px 2px;
}

.fondoNaranjaFecha {
  background-color:#FFA500;
}

.porcentaje60{
  width: 70%;

}

.fontSize{
  font-size: 1.3em;
}

.vinietasCheck {
  list-style-image: url('../img/icons/checkIcon20px.png') !important;
}

.alto70 {
  height: 70px;
}

.fondoFooter {
  background-color: $bgcol_verde;
}

.fontSize14{
  font-size: 14px;
}

.basefooter{
  background-color: $bgcol_verde2;
  height: 40px;
}

.shadow_bottom {
  box-shadow: 0 2px 2px #ebebeb;
}

.pfgreen {
  color:$bgcol_verde;
}

.fondoHeader2{
  background-color: $bgcol_verde;

}

.fondoFutbol{
  background-image: url('../img/patterns/futbolpattern.jpg');
}

.fondoBlanco{
  background-color: #ffffff;
}

.overflowhidden{
  overflow: hidden !important;
}

.border-verdepf {
  border:1px solid #006B33;
}

.hover-camera{
  position: relative;
  transition:background-color 4s ease-in-out;
}

.hover-camera:hover::before,
.hover-camera:hover::after{
  position:absolute;
  z-index: 99999;
  width: 100%;
  height: 110%;
  cursor: pointer;
  line-height: 100%;
  font-size: 1.5rem;

  @include flexcenter;
  //display:flex;
  //justify-content: center;
  //align-items: center;
  text-align: center;
}

.hover-camera:hover::before{
  content:"\f030";
  font-size: 3em;
  font-family: "FontAwesome";
  top:-10%;
  color:rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.4);
}

.hover-camera:hover::after{
  font-family: "Arial", sans-serif;
  content:'Cambiar Foto';
  top:10%;
  color:rgba(0,0,0,0.5);

}

.clase2{
  color:$bgcol_verde;
}

.nombreUser{
  color:$bgcol_verde;
}

.editar_user::after{
  position:absolute;
  content:'\f044';
  font-family:$FA;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  right:20px;
  top:10px;
  cursor:pointer;
  color:#bbbbbb;
}

.editar_user:hover::after{
  color:#FFCD5E;
}

.h-16rem{
  height: 16rem;
}

.copa, .escudo, .buscar{
  height: 10rem;
  border-radius: 10px;

}

.copa::before, .escudo::before, .buscar::before{
    @include flexcenter;
    height: 10rem;
    font-family: $FA;
    color: rgba(244, 183, 70, .8);
    font-size: 7rem;
}


// TEST!!!!
.accion:hover{
  cursor:pointer;
  box-shadow:0px 0px 12px 3px rgba(0, 0, 0, .4) !important;
}

.accion:hover .copa::before, .accion:hover .escudo::before, .accion:hover .buscar::before{
  color: rgba(244, 183, 70, 1);

}

.copa::before{
  content:'\f091';
}

.escudo::before{
  content:'\f3ed';
}

.buscar::before{
  content:'\f002';
}


.awesome{
  color:#000000;
}

.classNaranja{
  color:#eeee55;
}


