$font-light: 300;
$font-regular: 400;
$font-regular-bold: 600;
$font-bold: 800;


$FA:'FontAwesome';
$font-size-1-6rem: 1.6rem;
$font-size-1-5rem: 1.5rem;
$font-size-1-4rem: 1.4rem;
$font-size-1-3rem: 1.3rem;
