@import "colors.scss";

.logoHeader3{
    height: 40px;
}

nav {
  &.navbar {
    &.navbar-expand-lg {
      &.navbar-white {
        &.navbar-dark {
          &.fondoHeader2 {
            .navbar-nav {

              .nav-item {
                &.dropdown{
                  .dropdown-menu{
                    top: 96%;
                    color: $bgcol_verde;

                    &.end-session {
                      min-width: 9rem;
                      //width: 9rem;
                      //left: -;

                      .dropdown-item {
                        //width: 9rem;
                        //min-width: 100px !important;
                        //background-color: red;

                        a {
                          //width: 100px !important;
                        }
                      }
                    }

                    .dropdown-item {
                      padding: 0;

                      &:active {
                        background-color: $col_gris1 !important;
                      }

                      &.no-options {
                        padding: .25rem 1.5rem;
                        color: $col_gris2;
                      }

                      a {
                        color: $bgcol_verde;
                        width: 100%;
                        height: 100%;
                        padding: .25rem 1.5rem;
                        display: block;

                        &:active {
                          background-color: $col_gris1 !important;
                        }
                      }
                    }
                  }
                }
              }

              #navbarDropdownMisTorneos,
              #navbarDropdownMisEquipos {

                &:after {
                  display: none;
                }
              }

              &.userdropdown {
                li{
                  a{
                    img{
                      width: 38px;
                      height: 38px;
                      margin-right: 10px;
                    }
                  }
                }
              }
            }

            button{
              &.navbar-toggler{
                padding:4px 6px;
                border-color: $col_verde1;
                .hamburguer{

                  i{
                    cursor: pointer;
                    &.fa-bars:before{
                      color: $col_naranja1;

                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 991px) {
  nav {
    &.navbar {
      &.navbar-expand-lg {
        &.navbar-white {
          &.navbar-dark {
            &.fondoHeader2 {

              .navbar-nav{

                &.userdropdown{

                  margin-right: auto !important;
                  justify-content: flex-start;
                  img{
                    display: none;
                  }

                  a {
                    &.nav-link {
                      position: relative;
                      display: inline-block;

                      &.dropdown-toggle::after {
                        position: absolute;
                        top: 50%;
                        right: -20px;
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  nav {
    &.navbar {
      &.navbar-expand-lg {
        &.navbar-white {
          &.navbar-dark {
            &.fondoHeader2 {

              height: 60px;
              padding-top: 2px;
              padding-bottom: 2px;

              div.collapse.navbar-collapse {
                ul {
                  li.nav-item {

                    #navbarDropdownNotification {
                      height: 60px;
                      line-height: 60px;
                      //background-color: red;
                      display: flex;
                      align-items: center;
                      padding-left: 8px;
                      width: 40px;

                      span {
                        display: none;
                      }

                      &:before {
                        padding-left: 8px;
                      }

                      & + .dropdown-menu {
                        left: -107px;
                        text-align: center;
                      }
                    }

                    a {
                      &.nav-link {
                        position: relative;
                        height: 60px;
                        line-height: 60px;
                        padding-top: 0;
                        padding-bottom: 0;
                        display: flex;

                        &.dropdown-toggle::after {
                          position: absolute;
                          top: 50%;
                          right: -5%;
                        }
                      }
                    }
                  }
                }
              }

              .navbar-nav{

                .nav-item {
                  &.dropdown{
                    .dropdown-menu{
                      //top: 96%;
                      border-radius: 0 0 .25rem .25rem;
                    }
                  }
                }

                &.userdropdown{
                    margin-left: auto;

                    a{
                      &.nav-link{
                        margin-right: 20px;
                      }
                    }
                }
              }
            }
          }
        }
      }
    }
  }
}