@mixin hover-txt($color) {
  color: $color;
  transition: color .2s ease-in-out;
}

@mixin transitions($prop, $time) {
  transition: $prop $time ease-in-out;
}

@mixin flexcenter{
  display:flex;
  justify-content: center;
  align-items: center;
}

@mixin icon-in-circle($bg-col, $icon-col) {
  font-size: 1.5rem;
  color: $icon-col;
  padding: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: $bg-col;
  margin-right: .4rem;
  display: block;
  text-align: center;
}

@mixin border-radius-50($medida, $mt, $mr, $mb, $ml) {
  width: $medida;
  height: $medida;
  border-radius: 50%;
  margin: $mt $mr $mb $ml;
}
/*
@mixin llave-fixture($widbor, $colbor, $bordernone, $width, $height, $top) {
  content:'';
  border: $widbor solid $colbor;
  $bordernone: none;
  background-color: transparent;
  width: $width;
  display: block;
  height: $height;
  position: absolute;
  top: $top;
  z-index: -999;
}
*/
@mixin pico-llave($widbor, $colorborder1, $colorborder2, $top, $left, $right) {
  content:'';
  display: block;
  width: 0;
  height: 0;
  border: $widbor solid transparent;
  border-left-color: $colorborder1;
  border-right-color: $colorborder2;
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  z-index: 999;
}