@import "colors.scss";
@import "mixins.scss";

.notificaciones {

  .list-group.colorGris2 {

    .list-group-item:nth-child(even){
      background-color: $col_gris3;
    }
    a {
      text-decoration: none;
    }
  }

  .fecha {
    color: $col_verde1;
    font-style: italic;
    font-size: .8rem;
    margin-right: .6rem;
  }
  h2 {
    i {
      &.fas {
        &.fa-bell,
        &.fa-comments,
        &.fa-search,
        &.fa-crown {

          &:before {
            @include icon-in-circle($col_verde1, $col_gris6)
          }
        }

        &.fa-crown {
          margin-bottom:20px;
          &:before {
            padding: 7px 5px 5px;
            font-size: 23px;
          }
        }
      }
    }
  }
}

footer {
  ///margin-top: 0 !important;
}

@media (max-width: 991px) {
  //styles here
}

@media (min-width: 992px) {
  //styles here
}