@import "colors.scss";
@import "mixins.scss";

.notificaciones{

  .fecha {
    color: $col_verde1;
    font-style: italic;
    font-size: .8rem;
    margin-right: .6rem;
  }
  i{
    &.fas {
      &.fa-bell,
      &.fa-comments {

        &:before {
          @include icon-in-circle($col_verde1, $col_gris6)
        }
      }
    }
  }
}

@media (max-width: 991px) {
  //styles here
}

@media (min-width: 992px) {
  //styles here
}