@import "colors.scss";
@import "mixins.scss";

.torneo {

  .main_miequipo {
    .col-md-9 {
      #nav-tabContent {
        min-height: 200px;
      }
    }
  }



  .eliminar-button {
    background: none;
    border: none;
    color: $bgcol_naranja;
    cursor: pointer;

    i {
      &:hover {
        @include hover-txt($col_naranja1);
      }
    }
  }

  .equipos_participan {
  width: 415px;

    li{
      padding: 6px 10px;
      &:nth-child(odd){
        background-color: $col_gris5;
      }

      img{
        border-radius:50%;
        height: 50px;
        width: 50px;
        margin-right: 20px;
      }

      a{
        text-decoration: none;
        color: $col_gris4;

        &:hover {
          @include hover-txt($bgcol_verde5);
        }
      }
    }
  }

  &.agregar-equipo {

    .list-group-item {
      img {
        @include border-radius-50(50px, 0, 10px, 0, 0);

        &+a {
          margin-right: 15px;
        }
      }

      .eliminar-button {
        background: none;
        border: none;
        color: $bgcol_naranja;
        cursor: pointer;

        i {
          &:hover {
            @include hover-txt($col_naranja1);
          }
        }
      }
    }
  }

  &.editar-organizadores {

  }
}

